body{
  margin: 0;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

header{
  display: flex;
  background-color: #e9e9e9;
  align-items:center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-bottom: 20px;
  width: 100px;
}

i.fa-bars {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.schoolsoft:hover i {
  animation: user 1s linear infinite;
}

@keyframes user {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kursschema:hover i {
  animation: student 1s linear infinite;
}

@keyframes student {
  0% {
    transform: translateY(50%);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: rotate(-60deg);
  }
  100% {
    transform: translateY(50%);
  }
}

.om_åva:hover i {
  animation: mobil .25s linear infinite;
}

@keyframes mobil{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0);
  }
}

i{
  margin-right: 10px;
  margin-left: 20px;
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

nav a {
  color: black;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #2196F3;
  color: white;
}

.burger_icon{
  padding: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.burger-links{
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.burger-links a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.burger-links a:hover {
  background-color: #ddd;
  color: black;
}

nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  background: #ccc;
}

#myUL {
  list-style-type: none;
  display:none;
}

#myInput:focus ~ #myUL {
  display: block;
}

ul{
  position: absolute;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

html {
  height: 100%;
}
      
.hero-image {
  background-image: url("marias_klass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
      
.hero-text{
  font-family: none;
  color: #2196F3;
}

h1{
  font-size: 60px;
}
      
.hero-text p{
  font-size: 40px;
}

section{
  display: inline-flex;
  background-color: #e9e9e9;
  margin: 50px;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.section_1{
  flex-direction: column;
  max-width: 400px;
}

h1{
  text-align: center;
}

.section_2 a{
  margin-left: 15px;
}

aside{
  display: inline-flex;
  background-color: #e9e9e9;
  flex-direction: column;
  margin: 50px;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 400px;
}

aside p{
  max-width: fit-content;
  margin-bottom: 30px;
}

img{
  margin-top: 30px;
  margin-bottom: 30px;
}

.åva_bilder{
  width: 100%;
}

.teknik_tjejer{
  width: 30%;
}

.fängelse{
  width: 26%;
}

.t1{
  max-width: fit-content;
}

footer{
  background-color: #333;
  color: white;
}

#footer-text{
  padding: 100px;
  font-size: 50px;
}

@media screen and (min-width:1200px) {
  .container{
    display: none;
  }
  .burger-links{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    right: 100px;
  }
  body{
    text-align: center;
  }
  .section_2{
    flex-direction: column;
    max-width: 400px;
  }
  .section_2 img{
    width: 100%;
  }
  .logo{
    margin-right: auto;
  }
  .menu{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .search-container input{
    width: 100px;
  }
  .logo{
    width: 50px;
  }
}