body{
  margin: 0;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

header{
  display: flex;
  background-color: #e9e9e9;
  align-items:center;
}

nav{
  display: flex;
  align-items: center;
}

i.fa-bars {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.schoolsoft:hover i {
  animation: user 1s linear infinite;
}

@keyframes user {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kursschema:hover i {
  animation: student 1s linear infinite;
}

@keyframes student {
  0% {
    transform: translateY(50%);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: rotate(-60deg);
  }
  100% {
    transform: translateY(50%);
  }
}

.kontakta:hover i{
  animation: mobil .25s linear infinite;
}

@keyframes mobil{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0);
  }
}

.menu{
  display: flex;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {

  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {

  transform: rotate(45deg) translate(-8px, -8px);
}

nav a {
  color: black;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #2196F3;
  color: white;
}

nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  background: #ccc;
}

#myUL {
  list-style-type: none;
  display:none;
}

#myInput:focus ~ #myUL {
  display: block;
}

ul{
  position: absolute;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

section{
  display: inline-flex;
  background-color: #e9e9e9;
  margin: 50px;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.section_1{
  flex-direction: column;
  max-width: 400px;
}

body,
      html {
        height: 100%;
      }
      .hero-image {
        background-image: url("Bil.webp");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        width: 400px;
      }

h1{
  text-align: center;
}

.section_2 a{
  margin-left: 15px;
}

aside{
  display: inline-flex;
  background-color: #e9e9e9;
  flex-direction: column;
  margin: 50px;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

aside a{
  max-width: fit-content;
  margin-bottom: 30px;
}

.logo{
  margin-bottom: 20px;
}

i{
  margin-right: 10px;
  margin-left: 30px;
  display: inline-block;
}

.fa-bars{
  font-size: 50px;
}

img{
  margin-top: 30px;
  margin-bottom: 30px;
}

.bil{
  width: 400px;
}

.soligt_datorer{
  width: 400px;
}

.teknik_tjejer{
  width: 400px;
}

.fängelse{
  width: 350px;
}

.t1{
  max-width: fit-content;
}

@media screen and (max-width: 1150px) {
  body{
    text-align: center;
  }
  .section_2{
    flex-direction: column;

  }
  .section_2 p{
    max-width: 400px;
  }
}

@media screen and (min-width: 768px){
  .burger{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .menu{
    display: none;
  }
}